
 /*  
Author: Jada Morrison, Jordan Banks, Dawn Graves, William Crooks
File Name: styles.css
Date: 10/30/2025
*/

/* CSS Reset */
body, header, main, footer, img, ul, h1, h3, aside, figure, figcaption, div, section, a {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Style rules for body and images */
body {
    background-color: #e7e6e4;
    text-align: center;
    font-family: 'Lora', serif;
    color: #000;
}

#wrapper {
    max-width: 100%; 
    margin: 0 auto;
}


img {
    max-width: 100%;
    display: block;
    
}

/* Style rules for hero image for matching background and adjustable sizing */
.hero-image {
    background-image: linear-gradient(#fef5e7);
    background-position: center;
    padding: 0 25%;
    
}

/*Style Rules for her image web site title text*/
.mobile-hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FDB827;
  background-color: #002D74;
  display: block;
  height: auto;
}

.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FDB827;
  background-color: #002D74;
}


/* Style rules for mobile viewport */

/* Style rules to show mobile class and hide tab-desk class */
.mobile {
    display: block;
}

.tab-desk {
    display: none;
}

.hero-text {
    display: none;
}

/* Style rules for header area */
.mobile h1, .mobile h3 {
    font-size: 1.5em;
    font-family: 'Merriweather', sans-serif;
}

nav {
    background-color: #002D74;
    display: inline-block;
}


/* Style rules for navigation area */
.mobile-nav {
    display: block;

}

.mobile-nav h2 {
    color: #FDB827;
}

.mobile-nav {
     background-color: #002D74;
     

}

.mobile-nav ul {
    list-style-type: none;
    text-align: center;

}

.mobile-nav li {
    display: block; 
    font-size: 1.5em;
    font-family: Merriweather, sans-serif;
    font-weight: bold;
    margin-bottom: 2px;
    background-color:#002D74;
   
}

.mobile-nav a {
   background-color: #002D74;
   display: inline-block;
   padding: 1% 1%;
   text-decoration: none;
   color: #FDB827;
}

.mobile-nav ul li a:active {
    background-color: #FDB827;
    color: #002D74;
}



/*Style Rules for Mobile Nave Area */
nav {
    display: none;
}
nav {
     background-color: #002D74;

}

nav ul {
    list-style-type: none;
    text-align: center;

}

nav li {
    background-color: #FDB827;
    display: block; 
    font-size: 1.5em;
    font-family: Merriweather, sans-serif;
    font-weight: bold;
    margin-bottom: 2px;
}

nav li a {
   display: block;
   padding: 10px 0;
   text-decoration: none;
   color: #002D74;
}

/* Style rules for main content */
main {
   background-color: #FDB827;
   color: #002D74;
   padding: 2%;
   margin-bottom: 10px;
   font-family: 'Merriweather', sans-serif;
   font-style: normal;
   text-align: left;
}


main p {
    font-size: 1.25em;
}

.focus-article, .article-card, .cve-item {
    background-color: #d8d8d8; /* Light gray box color */
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 3px;
    text-align: left;
}



/*Style rules for footer content */
footer {
    text-align: center;
    font-size: 1em;
    background-color: #002D74;
    color: #FDB827;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 0%;
    padding-right: 0%;
}

footer a {
    color: #FDB827;
    text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 620px), print {
 /* Navigation: Switch to a horizontal layout */
 /*Using flexblox to accomodate unknown range for tablets and large phones - Will C*/   
    .tab-desk {
        display: block;
    }
    .tab-desk ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #002D74;
        display: flex;
    }

    .tab-desk ul li {
        float: left;
    }

    .tab-desk ul li a {
        display: block;
        color: #FDB827;
        padding: 14px 16px;
        text-decoration: none;
    }

    .tab-desk ul li a:hover {
        background-color: #FDB827;
        color: #002D74;
    }
    .mobile-hero-text {
        display: none;
    }
    .hero-text {
        display: block;
    }
    .mobile-nav {
        display: none;
    }
    
    nav ul {
        display: flex; /* Activate Flexbox */
        flex-wrap: wrap;
        justify-content: center;
    }
    nav li {
        display: inline;
        font-size: 1em; 
        margin: 0 5px;
        background-color: transparent;
    }
    nav li a {
        padding: 8px 10px;
        color: #FDB827;
    }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {
    /*Desktop Viewport: Show desktop class, hide mobile-tablet class.*/
   #wrapper {
        max-width: 1200px; /* Constrain content width */
    }
    
    /* Desktop Viewport: Hide mobile class, show tab-desk class. */
    .mobile {
        display: none;
    }

    .mobile-nav {
        display: none;
    }

    .tab-desk {
        display: block;
    }

    /* Desktop Viewport: Style rules for main content */
    .mobile {
        display: none;
    }
    .mobile-hero-text {
        display: none;
    }

    
    main {
        padding: 40px 20px;
    }
    .article-focus-section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 25px;
        margin-bottom: 25px;
    }
     /* CVE Section: Columns*/
    .cve-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    
    .cve-list {
        display: flex;
        flex-direction: column; 
        justify-content: left;
    }

    .tab-desk {
        display: block;
    }

    /* Desktop Viewport: Style rules for main content */
    main {
        padding: 40px 20px;
    }
    .article-focus-section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 25px;
        margin-bottom: 25px;
    }
     /* CVE Section: Columns*/
    .cve-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    
    .cve-list {
        display: flex;
        flex-direction: column; 
        justify-content: left;
    }

    .cve-item {
        background-color: #002D74; 
        color: white;
        text-align: center;
    }
}





/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px), print {
    #wrapper {
        max-width: 1600px;
    }
}

/* Media Query for Print */
@media print {
  body {
        background-color: #fff;
        color: #000;
    }




}
